@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item {
  line-height: 40px;
  padding: 0px 20px;
  font-size: 20px;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: rgb(139 92 246);
}

.nav-item .active {
  color: rgb(139 92 246);
}

.proLabel {
  font-size: 30px;
  padding: 5px 0px;
}

.proLabel {
  font-size: 30px;
  padding: 5px 0px;
}

@media only screen and (max-width: 920px) {
  .proLabel {
    font-size: 20px;
  }
}
